
/*Main*/

#content-main {
    width: 100%;
    margin: 0 0.5rem;
}

main h3 {
    display: flex;
    justify-content: center;
    background-color: #F28705;
}

#plant-group-container {
    display: flex;

}

.plant-group {
    background-color: #87D936;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 1rem;
}

.plant-group picture h4 {
    background-color: gray;
    margin: -0.5rem -1rem 0rem -1rem;
    padding: 4rem 4.5rem;
}

.plant-group h5 {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    margin-bottom: -0.1rem;
}